.search-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 70px;
  background-color: #fff;
  border-top: 1px solid rgba(214, 209, 202, 0.4);
  border-bottom: 1px solid rgba(214, 209, 202, 0.4);
  height: 0;
  opacity: 0;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor: auto;
  transition: 0.2s;
}

.search-content .ant-input {
  padding: 0;
  margin: 0;
  height: 20px;
}

.search-content .ant-input-suffix {
  margin-bottom: 3px;
}

.search-open {
  height: 70px;
  opacity: 1;
}
