.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  gap: 10px;
}

.register-form {
  width: 50%;
}

.register-form label {
  margin-bottom: -10px !important;
}

.register-form-button {
  width: 100%;
  margin-bottom: 5px;
}

@media screen and (max-width: 900px) {
  .register-form {
    width: 80%;
  }
}
