** {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.book {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 90%;
  padding-top: 150px;
  margin: auto;
  gap: 30px;
}

.book-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-image-container img {
  width: 100%;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.book-details-container {
  flex: 1;
}

.book-details-header {
  display: flex;
  flex-direction: column;
}

.book-title {
  font-size: 1.3rem;
  text-align: center;
  font-weight: bold;
  margin: 10px;
  text-transform: capitalize;
}

.book-details {
  display: flex;
  margin-bottom: 20px;
}

.book-pages,
.book-year {
  font-size: 16px;
  font-weight: bold;
}

.book-description {
  font-size: 17px;
  line-height: 1.5;
}

@media screen and (max-width: 800px) {
  .book {
    flex-direction: column;
  }

  .book-detail {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media screen and (max-width: 600px) {
  .book-detail {
    flex-direction: column;
    margin-bottom: 40px;
  }
}
