.contact {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ded3b5;
  padding: 30px;
  border-radius: 10px;
}

.contact h2 {
  margin-bottom: 30px;
}
