.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  left: 50%;
  padding: 0 10%;
  background-color: #fff;
  transform: translateX(-50%);
  z-index: 9;
  box-shadow: 0px 0px 4px #202223;
}

.header-logo {
  max-width: 120px;
  height: 70px;
}

.header-icon {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 1.4rem;
  margin-left: 15px;
  cursor: pointer;
}

.navbar {
  position: relative;
}

.dropdown-content {
  display: flex;
  align-items: center;
  background-color: #fff;
}

.dropdown-content a {
  color: #202223;
  font-size: 1.1rem;
  text-decoration: none;
  transition: 0.3s;
  padding: 10px 30px;
}

.category {
  position: relative;
}

.category-content {
  width: 50vw;
  position: absolute;
  top: 30px;
  left: -20vw;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  background: #fff;
  box-shadow: 0 1px 5px #202223;
  opacity: 0;
  z-index: -1;
  padding: 20px 0;
}

.category-content a {
  padding: 0;
}

.category:hover .category-content {
  opacity: 1;
  display: flex;
  z-index: 10;
}

.dropdown-content a:hover {
  color: #e3b285;
  text-decoration: underline;
}

.dropdown-hambuger {
  display: none;
}

.dropdown-hambuger span {
  display: block;
  border-top: 2px solid #202223;
  width: 25px;
  margin-bottom: 6px;
  transition: 0.3s;
}

@media screen and (max-width: 900px) {
  .header-container {
    padding: 0 25px;
  }

  .header-logo {
    margin-left: 25px;
  }

  .navbar {
    position: absolute;
    top: 20px;
    cursor: pointer;
  }

  .category:hover .category-content {
    flex-direction: column;
    position: relative;
    box-shadow: none;
    padding: 0;
    top: 10px;
    left: 50px;
    width: 100%;
  }

  .dropdown-hambuger {
    display: inline-block;
  }

  .dropdown-content {
    position: absolute;
    top: 40px;
    left: -25px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 0;
    opacity: 0;
    height: 100vh;
    padding-top: 20px;
    box-shadow: 0px 2px 4px #202223;
    z-index: 2;
    transition: 0.2s;
  }

  .dropdown-content-open {
    width: 300px;
    opacity: 1;
  }

  .header-icon {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 320px) {
  .header-logo {
    max-width: 80px;
    height: 60px;
    margin-left: 20px;
  }

  .navbar {
    top: 18px;
  }

  .dropdown-hambuger span {
    width: 20px;
  }

  .header-icon {
    font-size: 1.1rem;
  }
}
